@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.body {
    width: 100%;
}

header {
    background-color: #868686;
    padding-top: 10px;
    display: flex;
}

    header h1 {
        text-align: center;
        color: #fff;
        margin-left: 30rem;
    }

    header button {
        margin-left: 25rem;
        margin-bottom: 5px;
        padding: 5px 5px 5px;
        border-radius: 5px;
    }

        header button:hover {
            background-color: #fff;
            color: #302cb8;
            cursor: pointer;
        }

.container {
    width: 100%;
    height: 37.42rem;
    padding: 0 20px 0;
    display: flex;
    background-color: #13005A;
}

.details {
    text-align:left;
    padding: 20px 100px 20px 40px;
    border: 2px solid #000;
    margin: 30px 35px 30px 50px;
    background-color: #d3cece;
}

    .details h2 {
        color: #000;
        font-size: 30px;
        margin-left: 80px;
    }

    .details img {
        width: 200px;
        height: 15rem;
        border: 2px solid #000;
        border-radius: 5px;
        margin-left: 120px;
    }

    .details .info p {
        margin-top: 20px;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
    }

    .details .info span {
        color: #362FD9;
    }

.tasks {
    padding: 20px 120px 20px 80px;
    border: 2px solid #000;
    margin: 30px 35px 30px;
    background-color: #302cb8;
}

    .tasks h2 {
        color: #fff;
        font-size: 24px;
        margin-left: 60px;
        margin-bottom: 20px;
    }

    .tasks h4 {
        color: #fff;
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
    }

    .tasks button {
        padding: 10px 30px 10px;
        border-radius: 10px;
        font-size: 10px;
        font-weight: 500;
        margin-left: 9rem;
        margin-bottom: 20px;
    }

        .tasks button:hover {
            color: #fff;
            background-color: #13005A;
            cursor: pointer;
        }

    .tasks .data {
        padding-left: 50px;
    }
